//Password Protect file
<Files /staff.html>
Allowoverride All
AuthName "Prompt"
AuthType Basic
AuthUserFile /.htpasswd
Require valid-user
</Files>

//Change default directory page
DirectoryIndex /home.html
Allowoverride All